body{
    font-family: 'Josefin Sans', sans-serif;
}

#number-error{
    color: #F44336;
}

#top{
    height: 58%;
    background-image: url('../assets/wallpaper_chiffre.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    border-width: 0;
    color: white;
}

#top h1{
    margin-top : 0px;
}

#bottom{
    text-align: center;
    color: black;
}

#bottom .btn{
    margin-top: 2%;
    padding-top: 2px;
    background-color: #d14836;
    border-color: #d14836;
    color : white;
}
